# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
*.egg-info/

# Virtual environments
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# MacOS Directory Files
.DS_Store

# Emacs backup files
*~
\#*\#